# /etc/systemd/system/ensure-vboxdrv-signed.service

[Unit]
SourcePath=/usr/local/bin/ensure-vboxdrv-signed
Description=Ensure the VirtualBox Linux kernel modules are signed
Before=vboxdrv.service
After=

[Service]
Type=oneshot
Restart=no
TimeoutSec=30
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
RemainAfterExit=yes
ExecStart=/usr/local/bin/ensure-vboxdrv-signed

[Install]
WantedBy=multi-user.target
RequiredBy=vboxdrv.service
