/* Show title of unread tabs with red and italic font */
:root.sidebar tab-item.unread .label-content {
 background-color: #fff !important;
 color: #aaf !important;
}

/* Add private browsing indicator per tab */
:root.sidebar tab-item.private-browsing tab-label:before {
 content: "🕶";
}
/* Less visible tab dividers. 
   A black border with a very low alpha slightly darkens any color. */
tab-item {
 border: solid 1px #000;
}
#tabbar tab-item:not(:hover) tab-closebox {
 display: none;
}
tab-closebox::after {
  content: "❎";
  background: none;
  line-height: 1;
  mask: none;
  text-align: center;
  width: 1.25em;
}
.tab.last-active {
 background-color: #fcc !important;
}
